@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
html , body{
    height: 100%;
    width: 100%;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.header {
  transition: background-color 0.3s ease; /* Add transition for smooth change */
  background-color: transparent; /* Default background color */
}

.header.scrolled {
  background-color: transparent !important; /* Set a transparent background while scrolling */
}
